.Footer {
  padding: 20px 0;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f5f8;
}

.copy {
  display: flex;
  align-items: center;
  color: #778899;
}

.name {
  margin: 0 15px;
  padding-left: 5px;
  color: brown;
}
